<body>
<div class="container shadow mb-5">
  <div class="row g-0">
    <div class="col-12 resultado" style="background-color: white;"><p class="text-end">{{num1}}{{operador}}{{num2}}</p></div>
  </div>
  <div class="row g-0">
    <div class="col-12 operacion" style="background-color: white;"><p class="text-end">{{resultado}}</p></div>
  </div>
  <div class="row h-100 g-0">
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('9')">9</button></div>
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('8')">8</button></div>
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('7')">7</button></div>
    <div class="col-3"><button class="btn btn-op btn-primary" (click)="borrar()">DEL</button></div>
  </div>
  <div class="row h-100 g-0">
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('6')">6</button></div>
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('5')">5</button></div>
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('4')">4</button></div>
    <div class="col-3"><button class="btn btn-op btn-primary" (click)="operar('/')">/</button></div>
  </div>
  <div class="row h-100 g-0">
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('3')">3</button></div>
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('2')">2</button></div>
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('1')">1</button></div>
    <div class="col-3"><div><button class="btn btn-op btn-primary" (click)="operar('*')">*</button></div>
    <div><button class="btn btn-op btn-primary" (click)="operar('-')">-</button></div></div>
  </div>
  <div class="row h-100 g-0">
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('.')">.</button></div>
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('0')">0</button></div>
    <div class="col-3"><button class="btn btn-sq btn-primary" (click)="clickNumero('00')">00</button></div>
    <div class="col-3"><div><button class="btn btn-op btn-primary" (click)="operar('+')">+</button></div>
    <div><button class="btn btn-op btn-primary" (click)="igual()">=</button></div></div>
  </div>

</div>
</body>

